@import url('./fonts.css');

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: 'Bebas Neue', Arial, sans-serif; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.main {
  background-color: white;
}

.font__extra {
  font-family: 'Bebas Neue', Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

.font__normal {
  font-family: 'Bebas Neue', Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}

.font__base {
  font-family: 'HelveticaNeueCyr-Medium', Arial, sans-serif;
}

.font__light {
  font-family: 'HelveticaNeueCyr-Roman', Arial, sans-serif;
}

.container {
  max-width: 1330px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin-block-start: 0;
  margin-block-end: 0;
}

ul {
  margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
}

li {
  margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
}

.page {
  margin-top: 116px;
}

.content-section {
  padding: 80px 0 120px 0;
}